:root {
    font-family: sans-serif;
    background-color: slategray;
    padding: 1em 1em;
    overflow: hidden;
}

body {
    margin: 0 auto;
    padding: 1em;
    max-width: 30rem;
    min-width: 12rem;
    height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    background-color: beige;
    box-shadow: 0em 0em 0.5em 0.5em darkslategray;
}

#query {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 2fr;
}
@media screen and (max-width: 400px) {
    #query {
        grid-template-columns: 1fr;
    }
}
input {
    grid-column-end: -1;
}

#route {
    margin: 2em 0;
    overflow-y: scroll;
}

#status {
    font-family: monospace;
    font-size: small;
    margin: 1em 0;
}

#stops {
    display:flex;
    flex-direction: column;
}

my-stop {
    margin-top: 0.5em;
    display:list-item;
    list-style: none ;
}
my-stop::before {
    content: '▶ ';
}