:root {
    font-family: sans-serif;
    background-color: slategray;
    padding: 1em 1em;
    overflow: hidden;
}

body {
    margin: 0 auto;
    padding: 1em;
    max-width: 30rem;
    min-width: 12rem;
    height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    background-color: beige;
    box-shadow: 0em 0em 0.5em 0.5em darkslategray;
}

form {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 2fr;
}
@media screen and (max-width: 400px) {
    form {
        grid-template-columns: 1fr;
    }
}
input {
    grid-column-end: -1;
}

div#route {
    margin: 2em 0;
}

div#status {
    font-family: monospace;
    font-size: small;
    margin: 1em 0;
}